body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  background-color: #1a2025;
  color: #d1e5fa;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
h1 {
  margin-top: 3em;
  font-size: 2em;
}
.header {
  margin-top: 2em;
  text-align: center;
}
header {
  text-align: center;
}
header p {
  font-size: 1.5em;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  margin: 0;
}
a {
  margin: auto;
  padding: 0.5em 2em;
  background-color: #58ff66;
  color: #1a2025;
  font-weight: 600;
  font-size: 1em;
  border-radius: 0.5em;
  text-decoration: none;
  border: none;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 300ms;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 300ms;
}
a:hover {
  color: #1a2025;
  padding: 1em 1em;
}
.buttons {
  text-align: center;
  margin-top: 1em;
}
.dif {
  color: #58ff66;
}
.dif::after {
  vertical-align: sub;
  margin-left: 0.5em;
  font-size: 1.5em;
  color: #f1ff76;
}
.cuda .bs::before,
.cuda .less::before {
  margin-right: 10px;
  content: '#';
  color: #58ff66;
}
.cuda .js::before,
.cuda .adaptive::before,
.cuda .pp::before {
  margin-right: 10px;
  content: 'x';
  color: #ff4a4a;
}
.cuda .dif::after {
  content: '***';
}
.snake .js::before {
  margin-right: 10px;
  content: '#';
  color: #58ff66;
}
.snake .bs::before,
.snake .less::before,
.snake .adaptive::before,
.snake .pp::before {
  margin-right: 10px;
  content: 'x';
  color: #ff4a4a;
}
.snake .dif {
  color: #58ff66;
}
.snake .dif::after {
  content: '***';
}
