* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}
header {
  background-color: #87509c;
  padding: 60px 0 150px 0;
}
header nav {
  margin-bottom: 145px;
}
header h1 {
  font-weight: 700;
  font-size: 42px;
  color: white;
}
header button {
  margin-top: 60px;
  background-color: #eb7d4b;
  color: white;
  padding: 20px 80px;
  font-size: 18px;
  font-weight: 600;
  -webkit-box-shadow: 0 3px 0 #c86a40;
          box-shadow: 0 3px 0 #c86a40;
  border: none;
  border-radius: 3px;
}
nav a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  padding: 7px 15px;
  margin: 5px;
  vertical-align: middle;
}
nav a:hover {
  background-color: #643a79;
  border-radius: 3px;
  color: white;
}
.services {
  background-color: #17c2a4;
  color: white;
  padding: 100px 0;
}
.services h1 {
  font-size: 40px;
  font-weight: 700;
}
.services hr {
  height: 5px;
  width: 90px;
  background-color: #117060;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 15px auto;
}
.services p {
  font-weight: 300;
  font-size: 16px;
}
.services .HeaderP {
  font-size: 18px;
  font-weight: 400;
  margin: 10px 0 80px 0;
}
.services img {
  margin-bottom: 20px;
}
.services h2 {
  font-weight: 700;
  font-size: 24px;
  vertical-align: top;
  margin-top: 30px;
}
.services .low {
  margin-top: 23px;
}
.team {
  color: #3c4761;
  background-color: #e7f1f8;
  padding: 100px 0;
}
.team .header h1 {
  font-size: 40px;
  font-weight: 700;
}
.team .header hr {
  width: 90px;
  height: 5px;
  margin: auto;
  background-color: #a5b4be;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.team .header p {
  font-size: 18px;
  font-weight: 400;
  color: #3c4761;
  padding: 20px;
}
.team img {
  margin: 5px;
  margin-bottom: 40px;
}
.team h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}
.team .job {
  margin-bottom: 15px;
  color: #30bae7;
  font-size: 16px;
  font-weight: 600;
}
.team p {
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
}
.skills {
  background-color: #fff;
  padding: 100px 0;
}
.skills h1 {
  font-size: 40px;
  font-weight: 700;
  color: #3c4761;
}
.skills hr {
  width: 90px;
  height: 5px;
  margin: auto;
  background-color: #bec7cc;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 15px;
}
.skills p {
  font-size: 18px;
  font-weight: 400;
  color: #3c4761;
  margin-bottom: 70px;
}
.portfolio {
  padding: 100px 0;
  background-color: #ffdd99;
  color: #393939;
}
.portfolio h1 {
  font-size: 40px;
  font-weight: 700;
}
.portfolio hr {
  width: 90px;
  height: 5px;
  margin: auto;
  background-color: #b89e69;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 15px;
}
.portfolio p {
  font-weight: 600;
  font-size: 18px;
}
.portfolio .buttons button {
  display: inline-block;
  background-color: #e5c37f;
  font-weight: 400;
  font-size: 18px;
  height: 40px;
  width: 85px;
  text-align: center;
  vertical-align: middle;
  border: none;
  border-radius: 5px;
  margin-bottom: 50px;
}
.portfolio .buttons button:hover {
  background-color: white;
}
.portfolio img {
  margin-bottom: 30px;
  margin-top: 50px;
}
.portfolio .load {
  height: 70px;
  width: 300px;
  border: none;
  background-color: #17c2a4;
  -webkit-box-shadow: 0 3px 0 #14a58c;
          box-shadow: 0 3px 0 #14a58c;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-top: 80px;
}
.aboutUs {
  padding: 100px 0;
  color: white;
  background-color: #d74680;
}
.aboutUs .header p {
  margin-bottom: 70px;
}
.aboutUs h1 {
  font-size: 40px;
  font-weight: 700;
}
.aboutUs hr {
  width: 90px;
  height: 5px;
  margin: auto;
  background-color: #933158;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 20px;
  margin-top: 15px;
}
.aboutUs p {
  font-weight: 400;
  font-size: 18px;
  margin-top: 0px;
}
.aboutUs i {
  font-weight: 400;
  font-size: 21px;
}
.aboutUs h2 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 0;
}
.aboutUs .job {
  color: #ffdd99;
  margin-bottom: 30px;
}
.getIt {
  padding: 100px 0;
  color: white;
  background-color: #3c5499;
}
.getIt h1 {
  font-size: 40px;
  font-weight: 700;
}
.getIt hr {
  width: 90px;
  height: 5px;
  margin: auto;
  background-color: #111a33;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 20px;
  margin-top: 15px;
}
.getIt p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 70px;
}
.getIt .upIn {
  background-color: #273a71;
  font-size: 18px;
  font-weight: 400;
  color: white;
  padding: 20px 25px;
  width: 410px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 5px;
  margin-bottom: 20px;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.getIt .upIn::-webkit-input-placeholder {
  color: white;
}
.getIt .upIn::-moz-placeholder {
  color: white;
}
.getIt .upIn:-moz-placeholder {
  color: white;
}
.getIt .upIn:-ms-input-placeholder {
  color: white;
}
.getIt .downIn {
  background-color: #273a71;
  font-size: 18px;
  font-weight: 400;
  color: white;
  padding: 20px 25px;
  width: 844px;
  height: 200px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 5px;
  margin-bottom: 60px;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.getIt .downIn::-webkit-input-placeholder {
  color: white;
}
.getIt .downIn::-moz-placeholder {
  color: white;
}
.getIt .downIn:-moz-placeholder {
  color: white;
}
.getIt .downIn:-ms-input-placeholder {
  color: white;
}
.getIt .send {
  font-weight: 600;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 0 #299ec5;
          box-shadow: 0 5px 0 #299ec5;
  background-color: #30bae7;
  height: 70px;
  width: 300px;
}
footer {
  background-color: #273a71;
  padding: 40px 0;
}
footer a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
  margin-left: 30px;
  margin-right: 30px;
}
footer a:hover {
  color: #30bae7;
}
